.yuan {
	border-radius: 10px;
}
.img-base img{
	max-height: 150px;
	max-width: 150px;
	min-width: 150px;
	min-height: 150px;
	border-radius: 150px;
	display:block; 
	margin:0 auto;
}
.qrcode img{
	max-height: 200px;
	max-width: 250px;
	min-width: 200px;
	min-height: 250px;
	border-radius: 20px;
	display:block; 
	margin:0 auto;
}
.test-right-main .cont-text{
	font-style: inherit !important;
}
.carousel-inner{
	height: 400px;
}
.testimonial-block .carousel{
	height: 450px;
}
.test-right-main span{
	margin-left:50px;
}
.test-right-main h2{
	margin-left:50px;
}